
/* Bottom right text */
.text-block {
    position: sticky;
    bottom: 20px;
    right: auto;
    background-color: rgba(0, 0, 0, 0.4);
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #fff6fe;
}

.botnav {
    overflow: hidden;
    background-color: #fff6fe;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 0px 14px 0px 16px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.botnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 0px 14px 0px 16px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

.topnav1 a {
  padding: 15px 14px 0px 16px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: fff6fe;
    color: black;
}

.botnav a:hover {
    background-color: fff6fe;
    color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
    background-color: fff6fe;
    color: fff6fe;
}

.botnav a.active {
    background-color: fff6fe;
    color: fff6fe;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: 20px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

























/* Style the header */
.header {
  padding: 0px 0px;
  background-color: fff6fe;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}


.banner{
  text-align: center;
  background: url("../images/banner.png");
  padding: 200px 0px 0px 0px;
  background-size: 100%;
  repeat: no-repeat;
  color: black;
}
.banner2{
  text-align: center;
  background: url("../images/bh site banner jpeg.png");
  font-family: 'Permanent Marker', cursive;
  font-size: 120px;
  padding: 100px 0px 100px 0px;
  background-size: 100%;
  repeat: no-repeat;
  color: black;
}
h1 {
  font-size: 65px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}
.meetartist{
  Font-size: 150;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.heading (
  font-size: 65px;
  font-family: 'Lato', sans-serif;
  text-align: left;
  )
header{
  background-image: url("../images/banner.jpeg");
  repeat: no-repeat;
}
a {
  color: white;
}
.about {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 18px;
  font-style: italic;
}
.socials {
  margin: 0px 15px 10px 15px;
  text-align: center;
}

* {
    box-sizing: border-box;
}

.img-container {
    float: left;
    width: 33.33%;
    padding: 37px;
}
.profilepic{
  float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


.comics {
  text-align: center;
}


.copyright {
  text-align: right;
}


#respond {
  margin-top: 40px;
}

#respond input[type='text'],
#respond input[type='email'],
#respond textarea {
  margin-bottom: 10px;
  display: block;
  width: 100%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;

  line-height: 1.4em;
}
